---
import Layout from "../layouts/Layout.astro"
---

<Layout title="walsh's frontend stuff">
  <main
    class="grid gap-4 max-w-7xl mx-auto place-items-center px-6 sm:text-center mt-12"
  >
    <h1 class="font-medium text-3xl" transition:name="course-card-title">
      Online Course Card
    </h1>
    <h2 class="font-thin text-lg" transition:name="course-card-description">
      Simple online e-business course card with timer.
    </h2>
  </main>
</Layout>
