---
import Layout from "../layouts/Layout.astro"
---

<Layout title="walsh's frontend stuff">
  <main
    class="grid gap-4 max-w-7xl mx-auto place-items-center px-6 sm:text-center mt-12"
  >
    <h1 class="font-medium text-3xl" transition:name="food-menu-title">
      Food Menu
    </h1>
    <h2 class="font-thin text-lg" transition:name="food-menu-description">
      Collapsible food menu showing various menu options
    </h2>
  </main>
</Layout>
