---
import Nav from "../components/Nav.astro"
import Work from "../components/Work.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="walsh's frontend stuff">
  <main>
    <Nav />
    <Work />
  </main>
</Layout>
