---
import { Icon } from "astro-icon"
---

<header class="p-4 border-b-2">
  <nav class="flex justify-between">
    <a class="text-2xl flex items-center" href="/">frontend stuff.</a>
    <ul class="flex space-x-3 text-2xl text-center items-center justify-center">
      <a
        href="https://itzwalsh.github.io/"
        target="_blank"
        class="hover:brightness-50"
      >
        <Icon pack="fa" name="code" class="w-10 h-10" />
      </a>
      <a
        href="https://x.com/iTZWalsh"
        target="_blank"
        class="hover:brightness-50"
      >
        <Icon pack="mdi" name="twitter" class="w-10 h-10" />
      </a>
      <a
        href="https://www.linkedin.com/in/itzwalsh/"
        target="_blank"
        class="hover:brightness-50"
      >
        <Icon pack="mdi" name="linkedin" class="w-10 h-10" />
      </a>
    </ul>
  </nav>
</header>
